
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px; 
  top: 20px;   
}

.bm-burger-bars {
  background: #222E3C;
}

.bm-cross-button {
  height: 28px;
  width: 28px;
}

.bm-cross {
  background: #030303;
}








